<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Roses</title>
    <meta name="description" content="Discover the story behind Roses, your favorite floral shop. Learn about our journey, values, and commitment to providing the best flowers." />
    <meta name="keywords" content="Roses, About Us, Floral Shop, Flowers, Our Story, Values" />
    <meta name="author" content="Roses Shop" />
    <link rel="icon" href="../../assets/favicon-32x32.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.scss" />
  </head>

  <body style="background: linear-gradient(to bottom, #fce4ec, #ffffff)">
    <!-- HEADER NAVBAR -->
    <header>
      <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(to top, #fce4ec, #ffffff)">
        <!-- LOGO IMAGE -->
        <div class="image-container" style="display: flex; justify-content: center">
          <a href="../../index.html" aria-label="Go to Roses Shop Home Page">
            <img src="../../assets/HomeRosesTittle-animate.gif" alt="Roses Shop Home Logo" />
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" style="margin-right: 15%;">
            <li class="nav-item">
              <a class="nav-link" href="features.html">Shop!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- END HEADER -->

    <!-- ABOUT US -->
    <section class="container my-5">
      <div class="image-container" style="display: flex; justify-content: center">
        <img src="../../assets/aboutUs/aboutUsTittle-animate.gif" alt="About Us Title" />
      </div>
      <p class="lead" style="text-align: justify;">
        En Roses, nos dedicamos a ofrecerte los mejores productos para el cuidado de la piel, diseñados para realzar tu belleza natural. Nuestro compromiso con la excelencia asegura que cada producto que ofrecemos está elaborado con los ingredientes de la más alta calidad y el mayor cuidado.
      </p>
      <p style="text-align: justify;">
        Nuestra gama de productos para el cuidado de la piel está meticulosamente formulada para estar libre de toxinas dañinas y químicos agresivos. Creemos en el poder de la naturaleza para nutrir y rejuvenecer tu piel, por lo que solo seleccionamos los ingredientes más efectivos y no tóxicos. Nuestra misión es proporcionar soluciones de cuidado de la piel que no solo cumplan, sino que superen tus expectativas, ofreciéndote una experiencia segura y lujosa.
      </p>
      <p style="text-align: justify;">
        Con Roses, puedes confiar en que tu piel está en buenas manos. Nos apasiona promover una piel saludable y radiante, y estamos en constante evolución para incorporar los últimos avances en la ciencia del cuidado de la piel. Descubre la diferencia de un cuidado de la piel premium con Roses y abraza un nuevo nivel de belleza y bienestar.
      </p>
    </section>

    <div class="image-container" style="display: flex; justify-content: center">
      <img src="../../assets/aboutUs/aboutUs-animate.gif" alt="Image representing Roses Shop" />
    </div>

    <!-- FOOTER -->
    <footer class="bg-light py-4" style="background: linear-gradient(to bottom, #ffffff, #ec407a, #ffffff, #fce4ec)">
      <div class="container text-center">
        <p class="mb-0">&copy; 2024 Roses. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
